.main .profile .content {
  float: left;
  width: 932px;
}
.main .profile .content ul li {
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid transparent;
  padding-bottom: 12px;
  padding-left: 10px;
  border-left: 1px solid #0068b7;
  border-bottom: 1px solid #bbb;
}
.main .profile .content ul li .textTitle {
  font: 16px/36px "微软雅黑";
}
.main .profile .content ul li span {
  display: block;
  margin: 0 0 4px 220px;
  font-size: 12px;
}
.main .profile .content ul li a + span + a {
  display: inline-block;
  float: left;
}
.main .profile .content ul li a + span + a img {
  margin-right: 6px;
  float: left;
  width: 340px;
  height: 170px;
}
.main .profile .content ul li div {
  overflow: hidden;
}
.main .profile .content ul li div p {
  width: 550px;
  font-size: 14px;
  line-height: 24px;
  float: left;
  width: 560px;
  text-indent: 2em;
}
.main .profile .content ul li .whole {
  margin-top: 8px;
  color: #0d76b2;
  display: inline-block;
  float: left;
  margin-left: 12px;
}
.main .profile .content ul li:hover {
  border: 1px solid #0068b7;
}
.main .profile .content ul li:first-child + li + li p {
  line-height: 20px;
  margin-left: 12px;
}
