.main .profile .content {
  margin-bottom: 66px;
}
.main .profile .content ul {
  margin-left: 20px;
  overflow: hidden;
}
.main .profile .content ul li {
  float: left;
  margin-right: 24px;
}
.main .profile .content ul li:hover span {
  background: url("../img/product_bt_small_02.png") no-repeat center;
  color: #03261b;
  background-size: 210px 40px;
}
.main .profile .content ul li:first-child + li + li {
  margin-right: 0px;
}
.main .profile .content ul li:first-child + li + li + li + li + li {
  margin-right: 0px;
}
.main .profile .content ul li a img {
  width: 282px;
  border: 2px solid #E6E6E6;
}
.main .profile .content ul li a span {
  width: 286px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid transparent;
  margin: 20px auto;
  display: inline-block;
  background: url("../img/product_bt_small_01.png") no-repeat center;
  color: #022c49;
}
